<%- include("partials/header.ejs") %>

  <h1>ENTER YOUR <span>BLOG<span class="dot">.</span></span></h1>
  <form action="/Submit" method="POST" style="text-align: center">
    <div>
      <input style="width: 40%; height:35px" type="text" placeholder="  title" id="title" name="title" required>
    </div>
    <div class="py-4">
      <textarea style="height: 200px; width: 40%; padding: 0.5rem;" placeholder="content" id="content" name="content" required></textarea>
    </div>
    <div>
      <button type="submit" value="Submit" class="btn btn-outline-success py-1 mx-2" >SUBMIT</button>
    </div>
  </form>

  <div class="pt-4 mt-4">
    <%- include("partials/footer.ejs") %>
  </div>